body {
    font-family: lucida;
    background-image: url("https://img.freepik.com/premium-vector/mobile-booking-reservation-table-restaurant-woman-chooses-cafe-online-waiter-sets-table-huge-smartphone-tiny-people-online-menu-food-application-vector-concept_176411-5518.jpg?w=1060");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: blur(4px);
    backdrop-filter: brightness(85%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background:transparent;
    padding: 50px;
    border-radius: 10px;  
    border:double black;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color:brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color:blue;
}