
        body {
            font-family: lucida;
            background-image: url("https://img.freepik.com/premium-vector/mobile-booking-reservation-table-restaurant-woman-chooses-cafe-online-waiter-sets-table-huge-smartphone-tiny-people-online-menu-food-application-vector-concept_176411-5518.jpg?w=1060");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-size: 100% 100%;
            color:black;
            backdrop-filter: blur(4px);
            backdrop-filter: brightness(85%);
        }

        .hidden {
            display: none;
        }

        .menu-item {
            margin-bottom: 10px;
        }

        .input {
            
            background-color: rgba(255, 255, 255, 0.5); /* Pink with 50% transparency */
            width: 600px;
            margin: 80px auto;
            padding: 30px;
            border: 4px double #0c0606dd;
            
            font-size: 20px;
            font-weight: bold;
        }

        button {
            margin-top: 10px;
            padding: 10px;
        }

        #summary-section {
            border-top: 2px solid #ccc;
            margin-top: 20px;
            padding-top: 10px;
        }

        .navbar {
            background-color: black;
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
        }

        .navbar .logo {
            font-size: 24px;
            font-weight: bold;
        }

        .nav-links {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .nav-links li {
            margin: 0 15px;
        }

        .nav-links a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            transition: 0.3s;
        }

        .nav-links a:hover {
            text-decoration: underline;
        }

        .footer {
            background-color: black;
            color: white;
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
            font-size: 13px;
        }

        input[type="number"] {
            width: 60px;
            margin-left: 10px;
        }
 